.ranking-container {
    margin-top: 15px;
    /* border: 1px solid red; */
}

.rankings-filter-select {
    width: 100%;
    background-color: #333333;
    color: white;
    padding: 0 15px;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: .7em;
    font-weight: 300;
    text-transform: uppercase;
    outline: none;
    height: 50px;
    appearance: none;

    background-image:
        linear-gradient(45deg, transparent 65%, #333 65%),
        linear-gradient(135deg, #333 35%, transparent 35%),
        radial-gradient(#3498DB 70%, transparent 72%);
    background-position:
        calc(100% - 19.5px) calc(1.9em + 3px),
        calc(100% - 14.5px) calc(1.9em + 3px),
        calc(100% - 1em) 1.5em;
    background-size:
        5px 5px,
        5px 5px,
        1.5em 1.5em;
    background-repeat: no-repeat;

}

table {
    width: 100%;
    border-spacing: 0px 1px;
    /* border: 1px solid red; */
}

.stats-table-row {
    height: 43px;
    background-color: #111111;
    transition: background-color 0.5s ease;
}

.stats-table-row:hover {
    background-color: #191919;
    cursor: pointer;
}

.stats-table-rank {
    padding-left: 20px;
    width: 75px;
}

.stats-table-stat {
    text-align: right;
    padding-right: 20px;
}