.secondary-stats-row {
    display: flex;
    margin-top: 40px;
    padding: 0 25px 40px 25px;
}

.flex-gap {
    width: 25px;
}

.secondary-stats-left {
    flex: 2.1;

}

.secondary-stats-right {
    flex: 1;
}