.logo {
    font-weight: 700;
    letter-spacing: -.5px;
    cursor: pointer;
}

.logo:hover {
    color: #3498DB;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 80px;
}

li {
    min-width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li:hover {
    background-color: #3498DB;
}