.card {
    background-color: #111111;
    margin: 15px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-content {
    padding: 25px;
}

.card-link {
    font-size: 1em;
    font-weight: 300;
    margin-left: 15px;
}

.card-link:hover {
    filter: opacity(25%);
}

.userCard-controls-container {
    border-top: 3px solid #3498DB;
    height: 40px;
}

.userCard-controls {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0 25px;
    align-items: flex-end;
}

.userCard-controls-left {
    flex: 1;
}

.userCard-controls-right {
    flex: 1;
    text-align: right;
}

.card-content {
    display: flex;
}

.card-content-left {
    flex: 2;
    padding-right: 10px;
}

.card-content-right {
    flex: .7;
    padding-left: 10px;
}

.facility-description, .facility-address {
    font-size: .8em;
    margin-top: 5px;
}