path {
    pointer-events: all;
    stroke: black;
    stroke-width: 1;
  }

path:hover {
    opacity: 0.70;
    cursor: pointer;
}

.DC2 {
    stroke: black;
}

.USAmap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    transform: translateY(-20px);
}